/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2021, 6:50:06 PM
    Author     : Acer
*/
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@600&display=swap');

body{
    /*background-image: url(../images/watercolor.png);*/
    background-repeat: repeat;
    /*background-color: #ecf0f5!important;*/
    z-index: -800;
}
.flex-column .rounded-circle:hover{
    background-color: #f2c26f;
}

/*==============HEADER=========*/
.logo{
    animation: logo 2.5s cubic-bezier(0.8, -0.84, 0.22, 1.71) infinite;
}
@keyframes logo{
    to {
        transform: rotate(360deg);
    }
}
.bg-nav{
    background-color: #003c71!important;
}
.header{
    background-color: #003c71!important;
}
.dropdown > a{
    color: #fff!important;
}
.dropdown-menu{
    left: 40px!important;
    top: 100%!important;
    min-width: 15rem!important;
    box-shadow: 0px 4px 3px 2px rgb(0 0 0 / 55%);
}
.fas{
    color: white;
    font-size: 36px;    
}
.fas:hover{
    color: #f2c26f;
}
.title{
    font-family: 'Sansita Swashed', cursive;
    color: #f2c26f!important;
    font-size: 30px!important;
    border: none!important;
}

.navbar-dark .navbar-nav .nav-link{
    font-size: 20px;
    color: rgba(255,255,255,.5);
    transition: color ease-out 0.2s;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #f2c26f!important;
    transition: color ease-in 0.2s;
}
.navbar-dark .nav-item #navbarDropdownMenuLink{
    font-size: 24px;
}
.navbar-dark .nav-item #navbarDropdownMenuLink:hover{
    color: #00c1de!important;
}
.item-gio-hang{
    padding-top: 12px;
}
.header ul.navbar-nav {
    margin-right: 120px;
}
.align-items-center img{
    width:65px; 
    height: 53px;
}
.fa-user{
    color: #f2c26f;
}
.nguoi-dung{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #f2c26f;
    padding: 5px 5px;
    border-radius: 5px; 
}
.nguoi-dung:hover{
    color: #f2c26f;
    cursor: pointer;
}
.quan-ly{
    left: -30px!important;
}
/*========HEADER==========*/
/*responsive*/
@media screen and (max-width: 1203px){
    .header ul.navbar-nav {
        margin-right: 20px!important;
    }
    
}
@media screen and (max-width: 574px){
    .row > div{
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
}
/*========HEADER==========*/


/*===========FOOTER============*/

.copyright {
    background-color: rgba(0, 0, 0, 0.9);
}

.font-pacifico{
    font-family: 'Pacifico', cursive;
}
.nav-link{
    padding: 10px 40px!important;
}
/*=============FOOTER===========*/